.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--toolbar);
    color: var(--font-color);
}

.sQeeZ {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

    .logo {
        height: 75%;
        width: auto;
        border-radius: 5px;
    }
    
    .slogan {
        height: 75%;
        width: auto;
    }
}

.actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.content-container {
    flex: 1;
    background-color: var(--content);
}

:host-context(.light-theme) {
    button {
        color: var(--font-color);
    }

    button:hover {
        background-color: rgba(255, 171, 242, 0.75) !important;
    }
}

@media (max-width: 320px) {
    .slogan {
        display: none;
    }
}