.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    z-index: 2;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--toolbar);
    color: var(--font-color);
}

.actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.content-container {
    flex: 1;
    background-color: var(--content);
}

.sQeeZ {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;

    .logo {
        height: 75%;
        width: auto;
        border-radius: 5px;
    }
    
    .slogan {
        height: 75%;
        width: auto;
    }
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient( 122.3deg,  rgba(111,71,133,0.5) 14.6%, rgba(232,129,166,0.5) 29.6%, rgba(237,237,183,0.5) 42.1%, rgba(244,166,215,0.5) 56.7%, rgba(154,219,232,0.5) 68.7%, rgba(238,226,159,0.5) 84.8% );
    color: var(--font-color);
}

.code-snippet {
    text-align: center;
    display: flex;
    background-color: var(--content);

    .title {
        color: var(--highlight);
        text-decoration: underline;
    }

    .editor {
        padding: 1rem;
        margin: 1rem;
        margin-top: 0;
        background-color: var(--editor);
        border-radius: 10px;
        text-align: left;
        white-space: pre-line;
    }
}

.getting-started {
    height: fit-content;
    text-align: center;
    background-color: var(--content);
    padding: 1rem;        

    .download {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .detected-os {
        padding: 2rem 0;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .other-os {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}


:host-context(.light-theme) {
    button {
        color: var(--font-color);
    }

    button:hover {
        background-color: rgba(255, 171, 242, 0.75) !important;
    }
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;   
        padding: 1rem 0;
        gap: 1rem;
        height: fit-content;

        mat-card {
            max-width: 95%;
        }
    }
}

@media (max-width: 320px) {
    .slogan {
        display: none;
    }
}
